#button{
  width: 90px;

}
.container{
  background-image: url("src/assets/nature.jpg");

}

.task-container{
  
     display: flex;
     flex-wrap: wrap;  
     width: 100%;
     height: auto;
}

#boderbox{
    box-sizing: border-box;
    width: 100%;
}